{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container-fluid main">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}
    
    <div class="container mt-5 mb-5">
    <div class="row mt-5 mb-5">
        <div class="col-md-3 mt-5 mb-5"></div>
            <div class="col-md-6 justify-content-center">
            <h1 class="h3 mb-3 h1-carusel">Identifiez-vous</h1>
            <div class="mb-4">
            <label class="mb-2 text-carusel" for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>
            <div class="mb-4">
            <label class="mb-2 text-carusel" for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="row">
                <div class="col-md-5 mt-4 mb-5"><button class="btn buttons button-color" type="submit">S'identifier</button></div>
                <div class="col-md-5 mt-5 mb-5"><a class="text-carusel" href="{{path('app_register')}}">Inscription</a></div>
            </div>
        </div>
        <div class="col-md-3 mb-5"></div>
    </div>
    </div>
    
</form>
</div>
{% endblock %}
